/* Mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        padding: 0;
    }
    .cv {
        width: 100%;
    }
    .aside {
        width: 35%;
    }
    .header__name {
        font-size: 12px;
    }
    .introduce__text {
        font-size: 6px;
        text-align: justify;
        padding: 18px;
    }
    .aside__infos {
        padding: 18px 14px 16px;
        line-height: 20px;
    }
    .infos__row {
        flex-direction: column;
    }
    .infos__text {
        align-items: center;
    }
    .aside__socials {
        padding: 16px 14px;
        line-height: 20px;
    }
    .socials__list,
    .socials__text {
        align-items: center;
    }
    .socials__row {
        flex-direction: column;
    }
    .aside__hobbies {
        padding: 16px 20px 96px 24px;
    }

    
    .container {
        width: 65%;
    }
    .container__right {
        width: 100%;
    }
    .cv__education-section,
    .cv__achievement-section,
    .cv__skill-section,
    .cv__latest-section {
        padding: 0 0 14px 0;
    }
    .cv__achievement-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .cv__divider-skill {
        height: 300px;
    }
    .cv__skill-card {
        width: 100%;
    }
    .cv__skill-stack {
        flex-wrap: wrap;
    }
    .cv__awards-section {
        width: 100%;
        padding: 0;
    }
    .cv__awards-list {
        padding: 0;
    }
    
}